.external-act {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;


    .externalbtn {
        border-radius: 0 !important;
    }

    .select_left {
        width: 100%;
    }

    button {
        min-width: fit-content;
    }

    .external-icon {
        display: flex;
        align-items: center;
        padding: 0px 20px 0px 15px;
        cursor: pointer;

    }

    .external-act-style {
        display: flex;
        align-items: center;
        font-size: clamp(0.2rem, 3vw, 0.9rem);
        cursor: pointer;
    }

    .ext-act-lbl {
        white-space: nowrap;
        text-decoration: none;
    }

    .ext-act-lbl:hover {
        text-decoration: underline !important;
    }

    .form-control {
        border-radius: 0px !important;
        font-size: 16px;
        padding: 8px;
        border: none !important;
    }

    .ext-action-icon {
        font-size: 20px;
    }

    .form-control:focus {
        box-shadow: none
    }
}
