@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
.ng-select .ng-select-container {
  border: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  border-radius: 0px !important;
  background-color: #ffffff !important;
}

.ng-select .ng-select-container:focus {
  border-color: #2865dc !important;
  outline: 2px solid #0f62fe;
  outline-offset: -2px;
}

.ng-select .ng-select-container {
  min-height: 36px;
  align-items: center;
}

.ng-select .ng-select-container .ng-value-container {
  align-items: center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #152935 !important;
  border-radius: 12px !important;
  color: #ffffff !important;
  padding: 2px 6px !important;
  margin-right: 8px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: none !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
  background-color: inherit !important;
}

.visualization-aggregations .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-icon {
  display: inline !important;
}

.ng-select-disabled .ng-select-container {
  background-color: #f6f7f9 !important;
  opacity: 1;
  cursor: no-drop;
}

.ng-select-disabled .ng-select-container .ng-value-container .ng-input>input {
  cursor: no-drop !important;
}

.ng-select-disabled .ng-arrow-wrapper {
  cursor: no-drop !important;
}

.form-control-bg-theme {
  background-color: #f4f7fb !important;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 10px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: #333;
    background-color: #afe0f8 !important;
}