.btn{
    padding: 8px;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  
  .menuDropdown {
    background: #f6f7f9;
    display: inline-flex;
    cursor: pointer;
    flex-direction: column;
  
  }
  .actionItemsWidth{
    color:#000
  }
  .actionButton{
    color: #000 !important;
  }
  .actionButton::before{
    color: #000 !important;
  }
  .action-color{
     color:#000
  }
  